/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
:root {
    --main-color: #2196f3;
    --alt-color: #1787E0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto   ;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}
.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}
.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
/* End Global Rules */
/* Start Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo {
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .logo i {
    color: var(--green);
}
.header .nav-bar {
    display: flex;
}
@media (max-width: 767px) {
    .header .nav-bar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        display: block;
    }

    .header .nav-bar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}
.header .nav-bar > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: var(--light-color);
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
}
@media (max-width: 767px) {
    .header .nav-bar > li > a {
        display: block;
        height: auto;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }
}
.header .nav-bar > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    bottom: 0;
    left: -100%;
    transition: var(--main-transition);
}
.header .nav-bar > li > a:hover ,
.header .nav-bar .active {
    color: var(--main-color);
    background-color: #fafafa;
}
.header .nav-bar > li > a:hover::before {
    left: 0;
}
.header .icons i,
.header .icons a{
    cursor: pointer;
    margin-left: 5px;
    height: 45px;
    line-height: 45px;
    width: 45px;
    text-align: center;
    font-size: 15px;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}
.header .icons i:hover,
.header .icons a:hover{
    color:#fff;
    background: var(--green);
    transform: rotate(360deg);
}
.header .icons #menu-bars{
    display: none;
}
@media(max-width: 767px) {
    .header .icons #menu-bars {
        display: inline-block;
    }
}
/* End Header */
/* Start search form  */
#search-form{
    position: fixed;
    top:-110%; left:0; 
    height:100%; width:100%;
    z-index: 1004;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width:50rem;
    border: none;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 2.5rem;
}

#search-form label:hover{
    color:var(--green);
}

#search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 3rem;
}

@media(max-width: 767px) {
    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }
}
/* End search form */
/* Start landing */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
@media (max-width: 767px) {
    .landing .container {
        flex-direction: column;
        width: 100%;
    }
}
.landing .text {
    flex: 1;
}
@media (max-width: 991px) {
    .landing .text {
        position: relative;
        top: 125px;
    }
}
.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}
.landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}
@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}
@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}
.landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
    .landing .image img{
        width: 300px;
    }
}
.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.landing .go-down:hover {
    color: var(--main-color-alt);
}
.landing .go-down i {
    animation: bouncing 1.5s infinite;
}

/* End landind */
/* Start dishes */
.dishes {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.dishes .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.dishes .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.dishes .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.dishes .container .box img{
    width: 100%;
    height: 50%;
    max-width: 100%;
    padding-top: 20px;
}
.dishes .box .content {
    padding: 20px;
}
.dishes .box .content h3 {
    margin: 0;
}
.dishes .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.dishes .container .box .stars{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.dishes .container .box .stars i{
    font-size: 1.5rem;
    color:var(--green);
}

.dishes .container .box span{
    color:var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 10px;
}
.dishes .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dishes .box .info a {
    color: var(--main-color);
    font-weight: bold;
}
.dishes .box .info i {
    color: var(--main-color);
}
.dishes .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}
/* End dishes*/
/* Start about */
.about {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.about .heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    flex:1 1 30rem;
}

.about .row .image img{ 
    width: 100%;
}

.about .row .content{
    flex:1 1 39rem;
}

.about .row .content h3{
    color:var(--black);
    font-size: 3rem;
    padding:.2rem 0;
}

.about .row .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    padding:.2rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--green);
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}

/* End about */
.spikes {
    position: relative;
}
.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(
135deg, white 25%, transparent 25%), linear-gradient(
225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
/* Start menu */
.menu {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap:1rem;
}

.menu .box-container .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 0px;
}

.menu .box-container .box .image{
    height: 20rem;
    width: 100%;
    padding:1rem;
    overflow: hidden;
    position: relative;
    padding: 0 0 10px 0;
}
.menu .box-container .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}
.menu .box-container .box .image:hover::before {
    animation: flashing 0.7s;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}
.menu .box-container .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

.menu .box-container .box .image .fa-heart{
    position: absolute;
    top:2.1rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 1.6rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
}

.menu .box-container .box .image .fa-heart:hover{
    background-color: var(--green);
    color:#fff;
}

.menu .box-container .box .content{
    padding:2rem;
    padding-top: 0;
}

.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i{
    font-size: 1.7rem;
    color:var(--green);
}

.menu .box-container .box .content h3{
    color:var(--black);
    font-size: 2rem;
    margin: 0;
}

.menu .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}
.menu .box-container .box .btn {
    padding: 20px;
}
.menu .box-container .box .content .price{
    color:var(--green);
    margin-left: 1rem;
    font-size: 2rem;
}
/* End menu */
/* Start order */
.order {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.order form{
    max-width:90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    background:#fff;
    padding:1.5rem;
    margin:0 auto;
}

.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order form .inputBox .input{
    width:49%;
}
@media(max-width: 767px) {
    .order form .inputBox .input {
        width: 100%;
    }
}

.order form .inputBox .input span{
    display:block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width:100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border:.1rem solid var(--green);
}

.order form .inputBox .input textarea{
    height:20rem;
    resize: none;
}

.order form .btn{
    margin-top: 0;
}

/* End oeder */
/* Start Footer */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
}
@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
.footer .box .social {
    display: flex;
}
@media (max-width: 767px) {
    .footer .box .social {
        justify-content: center;
    }
}
.footer .box .social li {
    margin-right: 10px;
}
.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);}.footer .box .social .facebook:hover {
    background-color: #1877f2;}.footer .box .social .twitter:hover {
    background-color: #1da1f2;}.footer .box .social .youtube:hover {
    background-color: #ff0000;}.footer .box .text {
    line-height: 2;
    color: #b9b9b9;}.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);}.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;}.footer .box .links li:hover {
    padding-left: 10px;}.footer .box .links li:hover a {
    color: white;}.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);}
.footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .footer .box .line {
        flex-direction: column;
    }
}
.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}
@media (max-width: 767px) {
    .footer .box .line i {
        margin-right: 0;
        margin-bottom: 15px;
    }
}
.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}
.footer .box .line .info span {
    display: block;
}
.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
/* End Footer */
/* Start Animation */
@keyframes up-and-down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40%,
    60% {
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0%,
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}


/* Loder part */
.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:35rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}